version: '3.9'

services:
  redis:
    image: redis:7-alpine
    ports:
      - '6381:6379'

  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - ./backend/media:/app/media
    ports:
      - '8000:8000'
    depends_on:
      - redis

  celery:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    command: celery -A config worker -l info
    volumes:
      - ./backend:/app
      - ./backend/media:/app/media
    depends_on:
      - redis

  frontend:
    build:
      context: ./frontend
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    ports:
      - '3000:3000'
    depends_on:
      - backend
